@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #202124;
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #fbbc04;
  --google-green: #34a853;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
